
body {
  min-height: 100vh;
  color: var(--color-text);
  background: rgb(0, 0, 0);
  background-image: url('../assets/space-bg.png');
  background-position: center;
  background-repeat:repeat-y;
  background-size: contain;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
}

.swiper-pagination-bullet-active {
  background: blue !important;
  filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));

  transition: all 500ms;
}

.swiper-pagination-bullet {
  background: rgba(0, 0, 255, 0.374) !important;
  height: 1em;
  width: 1em;
}
