@import './base.css';

#app {

}

@font-face {
    font-family: exo-2;
    src: url(Exo2-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: ultra;
    src: url(Ultra.otf);
  }

@font-face {
  font-family: andromeda;
  src: url(AndromedaTV.ttf);
}

